.profileContainer {
  position: relative;
  padding: 0.5em;
  height: 100%;
  overflow: auto;
}
.actionBtn svg {
  font-size: 2em;
}
.actionBtn svg:not(:last-child) {
  margin-right: 1em;
}
.profile_image {
  width: 80px;
  border-radius: 2.2em;
}
.profileContainer h4 {
  font-size: 1.5em;
  color: var(--text-clr);
  margin: 0.5em 0 0.1em;
}
.profileContainer p {
  color: #777;
  font-size: 1.1em;
  margin: 0;
}
.follow {
  display: flex;
  align-items: center;
  gap: 2em;
}
.profileContainer p span {
  color: var(--text-clr);
  font-weight: 500;
  font-size: 1.2em;
  margin-right: 0.2em;
}
.follow + button {
  margin: 2em 0;
}
.profileContainer button {
  border: none;
  color: var(--btn-bg-clr);
  background-color: transparent;
  font-weight: 500;
  font-size: 1.1em;
}
.nominated {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}
.nominated img {
  width: 40px;
  margin-right: 0.5em;
}
.nominated p span {
  font-size: 1em;
}
.addMemberBtn {
  margin-top: 0.4em;
  padding: 0.4em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightblue !important;
  border-radius: 1.4em;
  font-size: 2em;
}
