.roomCardContainer {
  background-color: #fff;
  padding: 1em;
  border-radius: 1;
  border: none;
  margin-top: 0.5em;
}
.roomCardContainer h6 {
  font-size: 0.675em;
  color: var(--text-clr);
  font-weight: 500;
}
.roomCardContainer h2 {
  font-size: 0.875em;
  font-weight: 500;
  line-height: 1;
  color: #000000;
}
.roomMembers {
  display: flex;
  align-items: flex-start;
}
.roomMembers img {
  width: 35px;
  height: 35px;
  border-radius: 0.6em;
}
.roomMembers p {
  font-size: 0.975em;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 0.5em;
  color: var(--text-clr);
}
.users_img {
  position: relative;
  margin-right: 2em;
}
.users_img img:nth-child(2) {
  position: absolute;
  top: 1em;
  left: 1em;
}
