.welcomeContainer {
  padding: 3em 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100vh;
  background-color: #f2f0e4;
}

.welcomeContainer h1 {
  font-size: 1.7em;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 0;
  color: var(--text-clr);
}
.welcomeInfo {
  height: 253px;
  overflow: auto;
}
.welcomeInfo p {
  margin-bottom: 2em;
  color: var(--text-clr);
  font-style: normal;
  font-size: 1em;
  font-weight: 400;
}
.actionBtn {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.actionBtn > a:last-child {
  font-size: 0.875em;
  color: var(--btn-bg-clr);
  font-weight: 400;
  font-style: normal;
}
